import(methods)
import(ranger)
import(igraph)
import(pROC)

#importFrom("stats", "dnorm", "rgamma", "rnorm", "runif", "sd")
#importFrom("utils", "read.table", "write.table")

export(DFNET)
export(DFNET_edge_importance)
export(DFNET_Edge_Importance) # for backwards compatibility
export(DFNET_modules)
export(DFNET_generate_graph_omics)
export(DFNET_generate_graph_Omics) # likewise
export(DFNET_calc_feature_importance)
export(DFNET_plot_module)
export(DFNET_get_module)
export(DFNET_predict)
export(DFNET_performance)
export(DFNET_preprocess)
export(DFNET_explain)
